<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>Insert title here</title>
</head>
<body>
    <img src="https://spring.io/images/spring-logo-9146a4d3298760c2e7e49595184e1975.svg" style="height: 48px;max-width: 250px;">
    
    <h4>
        <span th:text="${spitterName}"></span> says...
    </h4>
    <i>
        <span th:text="${spittleText}"></span>
    </i>
</body>
</html>